<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/app.js"></script>
  </head>
  <body>
    <div class="content">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <H1>
            <a class="navbar-brand">Hey, This is the home page built by Express</a>
            </H1>
          </div>
        </div>
      </nav>
    
      <main class="container">
        <!-- home view -->
        <div id="home-view">
          <h4></h4>
        </div>
        
      </main>
    
    </div>
  </body>
</html>
