<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--
    <script src="https://cdn.auth0.com/js/auth0/9.10/auth0.min.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
    -->
  </head>
  <body>
    <div class="content">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <h1>Welcome to Pizza 42</h1></a><br/>
    
            <button id="btn-home-view" class="btn btn-primary btn-margin container">
                <font size="4">Home</font>
            </button>
    
            <button id="btn-login" class="btn btn-primary btn-margin container">
              <font size="4">Login</font>
            </button>
    
            <button id="btn-logout" class="btn btn-primary btn-margin container">
              <font size="4">Logout</font>
            </button>
    
          </div>
        </div>
      </nav>
    
      <main class="container">
        <!-- home view -->
        <div id="home-view">
          <h4></h4>
        </div>
        <div id="login-view">
          <h4></h4>
        </div>
      </main>
    
    </div>
  </body>
</html>
